@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {

  width: 420px;

  margin: 0;
  padding: 0;

  overflow: hidden;

  background:
    #0f1014 !important;

  font-family:
    Inter,
    system-ui,
    sans-serif;

  color: white;

}

/* Remove Brave forced height */
html {

  height: auto !important;
  min-height: auto !important;
  max-height: none !important;

}

body {

  height: auto !important;
  min-height: auto !important;
  max-height: none !important;

  display: inline-block;

}

#root {

  display: inline-block;
  height: auto !important;

}

/* Global */
* {

  box-sizing: border-box;

}

/* Remove scrollbars */
::-webkit-scrollbar {

  width: 0;
  height: 0;

}

::-webkit-scrollbar-thumb {

  background: transparent;

}